<?xml version="1.0" encoding="UTF-8"?>
<ui version="4.0">
    <class>{{ widget_plugin.class | stash_filename }}</class>
    <widget class="QWidget" name="{{ widget_plugin.class }}">
    </widget>
    <resources />
    <connections />
</ui>